:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#app .hidden {
  display: none;
}
.A1,
.C1,
.E1,
.G1,
.B2,
.D2,
.F2,
.H2,
.A3,
.C3,
.E3,
.G3,
.B4,
.D4,
.F4,
.H4,
.A5,
.C5,
.E5,
.G5,
.B6,
.D6,
.F6,
.H6,
.A7,
.C7,
.E7,
.G7,
.B8,
.D8,
.F8,
.H8 {
  background-image: url("/ucui.svg");
  background-size: contain;
}
.to-button {
  position: absolute;
  top: 45%;
  font-size: medium;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid;
  border-radius: 6px;
  color: #888;
}
.clock {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 5px solid white;
  font-size: 12pt;
  line-height: 24pt;
}
.clock .time {
  width: 50%;
  text-align: center;
  color: #888;
  background-color: white;
}
.clock .time.active {
  color: black;
  font-weight: bold;
}
.clock .time.active.white {
  border-left: 0.5em solid black;
}
.clock .time.active.black {
  border-right: 0.5em solid black;
}
.clock .time.active.flag {
  background-color: black;
  color: white;
}
.engine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 64pt;
  padding-top: 30%;
  background-color: black;
  color: white;
}
.engine .to-list {
  right: 0;
}
.engine .info {
  font-size: small;
  position: absolute;
  top: calc(24pt + 1em);
  width: 100%;
}
.engine .score {
  position: absolute;
  font-size: small;
  bottom: 128pt;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.engine .score .score-cp,
.engine .score .score-none {
  position: absolute;
  width: 3em;
  height: 3em;
  text-align: center;
  background-color: black;
  color: white;
  color: #808080;
  border: 1px solid;
  border-radius: calc(3em / 2);
  line-height: 3em;
  left: calc(50% - calc(3em / 2));
}
.engine .idle {
  font-size: x-large;
}
.engine .compute {
  width: 96px;
  height: 24px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background: linear-gradient(45deg, transparent 49%, #fff 50%, #fff 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, #fff 50%, #fff 50%, transparent 51%, transparent);
  font-size: 15px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 0.6s linear infinite;
}
@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
.input {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
.input .pieces {
  width: 100%;
  bottom: 0;
  line-height: 64pt;
  display: flex;
  justify-content: space-evenly;
}
.input .pieces .piece {
  font-size: 32pt;
  color: #888;
}
.input .pieces .piece.selected {
  color: black;
}
.input .moves {
  width: 100%;
  bottom: 64pt;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  padding-top: 2em;
}
.input .moves .select {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: -1em;
}
.input .moves .select .move {
  color: white;
  font-size: 22pt;
  font-weight: bold;
  margin: 4pt;
  padding: 4pt;
  min-width: 32pt;
  border: 2px solid black;
  background: black;
  border-radius: 5px;
}
.input .moves .rank {
  display: flex;
  justify-content: center;
  height: 10vw;
  width: 100%;
}
.input .moves .rank .ord {
  height: 10vw;
  line-height: 10vw;
  width: 10vw;
  background-color: white;
  color: #888;
}
.input .moves .rank .ord.selected {
  color: black;
  font-weight: bold;
}
.input .moves .rank .square {
  height: 10vw;
  width: 10vw;
}
.input .moves .rank .square.dim {
  filter: opacity(50%);
}
.input .moves .rank .square.target .label {
  background-color: white;
  font-weight: bold;
  line-height: 10vw;
}
.input .moves .rank .square.target.selected-file,
.input .moves .rank .square.target.selected-rank {
  color: #888;
}
.input .moves .rank .square.target.selected {
  color: white;
}
.input .moves .rank .square.target.selected .label {
  background-color: black;
}
.home {
  margin: 2em;
}
.home .header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}
.home .header .title {
  font-size: large;
  font-weight: bold;
}
.home .intro .ucui {
  font-style: italic;
}
.home .intro .board-image {
  width: 100%;
}
.home .button {
  font-weight: bold;
  text-decoration: underline;
}
.home .button-play {
  font-size: xxx-large;
  margin-top: 2em;
}
.home .button-config {
  font-size: large;
}
.home .button-history {
  font-size: medium;
}
.home .create-game {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-top: 3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-decoration: none;
}
.home .footer {
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 1em;
  text-align: center;
}
.home .footer .link {
  font-size: small;
  color: #12488b;
}
.home .login .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home .login .user .username {
  font-size: small;
}
.home .login .user .username a {
  color: black;
}
.home .login .user .button-logout {
  text-decoration: none;
  font-size: large;
  margin-left: 0.5em;
  font-weight: normal;
}
.home .login .actions {
  border-top: 1px solid;
  margin-top: 1em;
}
.home .challenge-block {
  margin-top: 1em;
  border-top: 1px solid;
  padding-top: 1em;
}
.home .challenge-block .section {
  margin-bottom: 0.5em;
}
.home .challenge-block .section .title {
  font-size: large;
  color: #888;
}
.home .challenge-block .challenge {
  margin: 1em 0;
  padding: 0.5em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .challenge-block .challenge .spec {
  text-align: left;
}
.home .challenge-block .challenge .spec .challenger {
  font-size: large;
  font-weight: bold;
}
.home .challenge-block .challenge .actions {
  text-align: right;
}
.home .challenge-block .challenge .actions .button {
  font-weight: normal;
  margin: auto;
}
.home .challenge-block .challenge .actions .button.button-decline {
  color: #888;
}
.home .waiting {
  font-size: small;
  font-style: italic;
}
.movelist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4em);
  margin: 2em;
}
.movelist .to-game {
  left: 0;
}
.movelist .listing {
  flex-grow: 10;
  overflow-y: auto;
  font-family: "Courier New", Courier, monospace;
}
.movelist .listing .ply {
  font-size: large;
}
.movelist .listing .ply .ord {
  color: #888;
  display: inline-block;
  width: 1.5em;
}
.movelist .listing .ply .ord .replay {
  color: black;
}
.movelist .listing .ply .moves .move {
  display: inline-block;
  width: 4em;
}
.movelist .listing .ply .moves .pending {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  background: linear-gradient(45deg, transparent 49%, black 50%, black 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, black 50%, black 50%, transparent 51%, transparent);
  font-size: 15px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 0.6s linear infinite;
}
.movelist .listing .outcome {
  font-style: italic;
  font-weight: bold;
  margin-top: 1em;
}
.movelist .actions {
  display: flex;
  display: none;
  margin-top: 1em;
  justify-content: space-around;
  width: 100%;
}
.movelist .actions .button {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.movelist .actions .button.disabled {
  color: #888;
  text-decoration: none;
}
.history {
  margin: 2em;
}
.history .listing {
  text-align: left;
}
.history .listing .item {
  justify-content: space-between;
  font-size: small;
  padding: 3px 0;
  border-bottom: 1px solid gray;
}
.history .listing .item .names {
  display: flex;
  justify-content: flex-start;
}
.history .listing .item .names .name {
  font-style: italic;
}
.history .listing .item .names .code {
  font-weight: bold;
  padding-right: 1em;
}
.history .listing .item .moves {
  margin-right: 1em;
  font-size: smaller;
  font-family: "Courier New", Courier, monospace;
  padding-top: 0.5em;
}
.history .listing .item .actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0.5em;
}
.history .listing .item .actions .play {
  width: 2em;
  line-height: 2em;
  text-align: center;
}
.history .listing .item .actions .delete {
  color: red;
}
.history .pgn-play {
  border-top: 1px solid;
  padding: 1em 0;
  margin-top: 1em;
}
.history .pgn-play .help {
  margin-bottom: 1em;
}
.history .pgn-play .ply {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  margin-left: 1em;
}
.history .pgn-play .ply .ord {
  width: 2em;
  color: #888;
}
.history .pgn-play .ply .m0,
.history .pgn-play .ply .m1 {
  width: 3em;
}
.history .pgn-play .fen-play .updatable-board {
  user-select: none;
}
.history .pgn-play .fen-play .updatable-board .board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1em;
}
.history .pgn-play .fen-play .updatable-board .board .rank {
  display: flex;
  width: calc(8 * 32px);
}
.history .pgn-play .fen-play .updatable-board .board .rank .square {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: calc(32px * 0.7);
  background: none;
}
.history .pgn-play .fen-play .updatable-board .nav-game {
  display: flex;
  justify-content: center;
}
.history .pgn-play .fen-play .updatable-board .nav-game .prev-button,
.history .pgn-play .fen-play .updatable-board .nav-game .next-button {
  margin: 0 2em;
  font-size: larger;
}
.history .pgn-play .fen-play .updatable-board .nav-game .prev-button.disabled,
.history .pgn-play .fen-play .updatable-board .nav-game .next-button.disabled {
  color: #888;
}
.history .pgn-play .fen-play .updatable-board .play-button {
  font-weight: bold;
  text-decoration: underline;
}
.history .pgn-play .fen-play .updatable-board .cancel-button {
  text-decoration: underline;
}
.lock {
  width: 100%;
  height: 0.5em;
  position: absolute;
  bottom: 0;
  background-color: #12488b;
}
.lock.locked {
  background-color: #888;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header .title {
  margin-top: 0;
}
.header .to-button {
  position: initial;
  margin: 0;
  padding: 0.2em;
}
.challenge-page {
  margin: 2em;
}
.challenge-page .title {
  font-size: large;
  font-weight: bold;
}
.challenge-page .config {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid;
}
.challenge-page .config .color-selector .select {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
.challenge-page .config .color-selector .select > div {
  color: #888;
  margin: 0 0.6em;
}
.challenge-page .config .color-selector .select > div.selected {
  color: black;
  border-bottom: 1px solid;
}
.challenge-page .config .rated-selector {
  margin-top: 1em;
}
.challenge-page .config .rated-selector .toggle {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.challenge-page .config .rated-selector .toggle > div {
  font-size: large;
  font-weight: bold;
  color: #888;
  margin: 0 1em;
  padding: 0.3em;
}
.challenge-page .config .rated-selector .toggle > div.selected {
  color: black;
  border-bottom: 1px solid;
}
.challenge-page .choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
.challenge-page .choices .challenge-create {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 6px;
  margin: 6px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.challenge-page .choices .challenge-create .time-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
.challenge-page .choices .challenge-create .time-control .time {
  font-weight: bold;
  font-size: xx-large;
}
.challenge-page .choices .challenge-create .time-control .label {
  font-size: x-small;
}
.players .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.players .section .title {
  font-size: large;
  color: #888;
}
.players .section .button-refresh {
  font-weight: normal;
  text-align: right;
  font-size: small;
  color: #888;
}
.players .users {
  margin: 1em 0;
}
.players .users .user {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.players .users .user .activity {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: 1px solid #888;
}
.players .users .user.online .activity {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: #888;
}
.players .lichess-ai {
  padding-top: 1em;
  border-top: 1px solid;
}
.players .lichess-ai .section {
  font-size: large;
  color: #888;
}
.players .lichess-ai .levels {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.players .lichess-ai .levels .level {
  text-align: center;
  width: 1em;
  font-weight: bold;
}
.players .lichess-ai .levels .level-1 {
  font-weight: 100;
}
.players .lichess-ai .levels .level-2 {
  font-weight: 200;
}
.players .lichess-ai .levels .level-3 {
  font-weight: 300;
}
.players .lichess-ai .levels .level-4 {
  font-weight: 400;
}
.players .lichess-ai .levels .level-5 {
  font-weight: 500;
}
.players .lichess-ai .levels .level-6 {
  font-weight: 600;
}
.players .lichess-ai .levels .level-7 {
  font-weight: 700;
}
.players .lichess-ai .levels .level-8 {
  font-weight: 800;
}
.players .lookup {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid;
}
.players .lookup .search-block {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.players .lookup .results {
  margin-top: 1em;
}
.players .lookup .results .result .username {
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
}
.players .lookup .results .result .perfs {
  font-size: small;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}
.chat-box {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
}
.chat-box.hidden {
  display: none;
}
.chat-box .message {
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
  margin: 1em;
  margin-bottom: 0.2em;
}
.chat-box .message .from {
  font-size: small;
  font-style: italic;
}
.chat-box .button.button-close {
  text-align: right;
  margin: 0 1em 0.5em 0;
  font-weight: bold;
}
.help {
  text-align: left;
  font-size: medium;
  color: #888;
  padding: 0.5em;
  background-color: white;
}
.online-status {
  position: absolute;
  top: 40%;
  left: 0.5em;
  right: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  color: white;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border: 1px solid;
  border-radius: 6px;
}
.online-status .icon {
  margin: 0.5em;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: #888;
  border: 2px solid white;
}
.online-status.ok {
  display: none;
}
.end {
  margin: 2em;
}
.end .header .title {
  font-weight: bold;
  font-size: large;
}
.end .info .result {
  margin: 1em 0;
  padding: 0.5em 0;
  font-size: xx-large;
}
.end .info .status {
  font-style: italic;
  font-size: small;
}
.end .section {
  margin: 1em 0;
  padding-top: 1em;
  border-top: 1px solid;
}
.end .button-rematch {
  text-decoration: underline;
}
.game-actions {
  position: absolute;
  bottom: 102px;
  font-size: xx-large;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid;
  border-radius: 6px;
  border-color: #888;
  color: white;
}
.game-actions.actions-view {
  left: 0;
}
.game-actions.actions-game {
  right: 0;
}
.game-actions .button-fullscreen-on {
  color: white;
}
.game-actions .button-fullscreen-off {
  color: #888;
}
.game-actions .anti-slip {
  color: #eb0a0a;
}
.game-actions .anti-slip.on {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.game-actions .anti-slip.on > div {
  pointer-events: none;
}
.game-actions .draw-answer {
  display: flex;
  align-items: center;
}
.game-actions .draw-answer .button {
  margin-left: 1em;
  font-size: medium;
}
